@model List<Proyecto_Crud.Models.Contacto>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Lista de contacto</h4>
            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="@Url.Action("Registrar", "Contacto")">Crear Nuevo</a>
                <hr />
                <div class="table table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th style="width:150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Proyecto_Crud.Models.Contacto item in Model)
            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td>@item.Apellidos</td>
                                    <td>@item.Telefono </td>
                                    <td>@item.Correo</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Editar", "Contacto", new {idContacto=item.IdContact})">Editar</a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar", "Contacto", new {idContacto=item.IdContact})">Eliminar</a>
                                    </td>
                                </tr>
            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>